.faq{
  padding:5.6vw;

  h2{
    text-align: center;
  }

  &__questions{
    &__item{
        background-color:#13151d;
        margin-bottom:16px;
        // :
        &__question{
            color:#fff;
            font-size:20px;
            padding:24px;
            display: block;
            position:relative;
            cursor:pointer;

            &::after{
                content:'+';
                position:absolute;
                top:0;
                height: 100%;
                right:24px;
                font-size:40px;
                display:flex;
                align-items: center;
            }
        }

        &__answer{
            padding:0 24px;
            height:0;
            overflow:hidden;
            transition: height, 0.3s ease;
        }

        &--is-open{
            .faq__questions__item__question::after{
                content:'-';
            }

            .faq__questions__item__answer{
                height:auto;
                padding-bottom:24px;
                transition: height, 0.5s ease;
            }//utilizei o ""height" por causa da semântica e da compreensão porém mesmo que não tivesse colocado a palavra ali a transição aconteceria normal
        }
    }
  }
}